<div class="container" style="background-color: blue; margin-top: 5%">
  <div class = "jumbotron" style="background-color: lightgray">
<br><br>

<h1 class="display-4 text-center">Welcome to the RE Portal</h1>

<br><br>


<div class="row text-center">

  <!-- COLUMN 1 -->
  <div class="col-sm-4"></div>

  <!-- COLUMN 2 -->
  <div class="col-sm-4">

      <form id="loginForm">

          <div class="form-group">
            <label for="id"><strong>UserId:</strong></label>
            <input type="id" name="id" class="form-control" id="id" required>
          </div>
      
          <div class="form-group">
            <label for="pwd"><strong>Password:</strong></label>
            <input type="password" name="pwd" class="form-control" id="pwd" required minlength="6">
            <p class="text-danger" id="passwordHelpTest"></p>
          </div>
      
          <br>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>

  </div>

  <!-- COLUMN 3 -->
  <div class="col-sm-4"></div>
  <!--Login FORM-->

</div>
</div>
</div
