<div class="container" style="background-color: blue; margin-top: 1%">
    <div class = "jumbotron" style="background-color: lightgray">

    
<h1 class="display-4 text-center">Approval Form</h1>

    

<div class="row text-center">

        <!-- COLUMN 1 -->
        <div class="col-sm-4"></div>
      
        <!-- COLUMN 2 -->
        <div class="col-sm-4">
      
            <form id="kemcho">

                <p class="text-center" id="user" name="user"></p>
                <div class="form-group">
                  <label for="mid" ><strong id="MID" style="font-size: 20px">MlsID:</strong></label>
                  <input type="number" name="mid" class="form-control" id="mid" required>
                </div>
            
                <div class="form-group">
                  <label for="lnk"><strong id="LNK" style="font-size: 20px">Name:</strong></label>
                  <input type="lnk" name="lnk" class="form-control" id="lnk" required>
                  <p class="text-danger" id="linkTest"></p>
                </div>

                <div class="form-group">
                    <label for="mortgageid" ><strong id="MID" style="font-size: 20px">MortgageID:</strong></label>
                    <input type="number" name="mid" class="form-control" id="mid" required>
                  </div>
            
               
                
                <button type="submit" class="btn btn-primary">Submitexit</button>
              </form>
      
        </div>
      
        <!-- COLUMN 3 -->
        <div class="col-sm-4"></div>
        <!--Login FORM-->
      
      </div>
      
</div>
</div>
</div>
