<div classs="row">
  <div class="col-md-6 container jumbotron">
      <center><h1 class="container">Real Estate Portal</h1></center><br>
      <center><a href="ApprovalForm"><button class="btn btn-success">Property Appraisal Form</button></a></center><br>
      <center><a href="ApprisalForm"><button class="btn btn-primary">Appraiser Sign In</button></a>
      </center><br>
  </div>
</div>
</div>    