//<div classs="row">
  <div class="col-md-6 container jumbotron">
      <center><h1 class="container">Real Estate Portal</h1></center><br>
      <center><a href="LoginPage"><button class="btn btn-success">Approval Form</button></a></center><br>
      <center><a href="FundsForm"><button class="btn btn-primary">Apprisal Form</button></a>
      </center><br>
  </div>
</div>
</div>    
